<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="st" class="com.vcube.secondproject.studentdto">

<constructor-arg value="256" />
<constructor-arg value="santhosh" />
<constructor-arg value="25" />


<constructor-arg value="kira" />
<constructor-arg value="25" />



</bean>
</beans>